.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    width: 100%;
    /* цвет иконки (mask -> currentColor) */
    color: var(--contact-btn-fg, #fff);

    box-shadow: inset 0 0 0 1px
        var(--contact-btn-outline, rgba(255, 255, 255, 0.25));
}

.actions .actionShare {
    background: none;
    /* box-shadow: none; */
    color: var(--contact-btn-outline, var(--primary));
    border: 2px solid var(--contact-btn-outline, var(--primary));
}

.actions .actionShare:hover {
    background: var(--contact-btn-outline, var(--primary));
    color: #fff;
}

.icon {
    width: 20px;
    height: 20px;
    background-color: currentColor;
    flex: 0 0 auto;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.iconShare {
    -webkit-mask-image: url("/icons/link.svg");
    mask-image: url("/icons/link.svg");
}

.iconSave {
    -webkit-mask-image: url("/icons/contact.svg");
    mask-image: url("/icons/contact.svg");
}
