

.section {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.title {
    margin: 0;
    font-size: var(--fs-h3);
    font-weight: 600;
    color: var(--text-main);
    text-align: center;
}

.content {
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-main);
}
