.sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.title {
    font-weight: 800;
    font-size: 1.1rem;
    margin-bottom: 8px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tab {
    width: 100%;
    text-align: center;
    /* border: 1px solid var(--gold-fade); */
    outline: 1px solid #f59f0b81;
    outline-offset: -5px;
    padding: 12px 12px;
    box-shadow: 0 0 0 1px var(--gold-soft);
    border-radius: var(--radius-md);
    background: rgba(255, 255, 255, 0.03);
    color: var(--text-main);
    font-weight: 800;
    cursor: pointer;
    transition:
        border-color 0.2s,
        color 0.2s;
}

.tab:hover {
    border-color: var(--gold-soft);
    color: var(--gold);
}

.active {
    border-color: var(--gold);
    box-shadow: 0 0 0 1px var(--gold-soft);
    color: var(--gold);
    background: linear-gradient(
        90deg,
        transparent,
        var(--gold-soft),
        transparent
    );
}
